@mixin poppins-extralight() {
  font-family: "Poppins";
  font-weight: 200;
}
@mixin poppins-regular() {
  font-family: "Poppins";
  font-weight: 400;
}
@mixin poppins-semibold() {
  font-family: "Poppins";
  font-weight: 600;
}